body {
    background-color: #353535;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo do cabeçalho */
header {
    background-color: #252525;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 60px;
}

#nav-menu {
    display: flex;
    min-width: 120px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    transition: color 300ms;
}

#nav-menu a:hover {
    color: #2d8ef1;
}

#nav-buttons {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    gap: 10px;
}

.button {
    text-align: center;
    width: 90px;
    background-color: #505050;
    color: #ffffff;
    border: 2px solid white;
    padding: 7px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin: 3px;
    text-decoration: none;
    transition: background-color 300ms;
}

.button:hover {
    background-color: #2d8ef1;
}

/* rodapé */

/* Redes sociais */
li {
    font-size: 22px;
    display: flex;
    align-items: center;
    color: #ffffff;
    list-style-type: none;
    margin-bottom: 10px;
}

#redes-sociais img {
    height: 1em;
    margin-right: 10px;
}

footer {
    background-color: #252525;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer ul {
    padding: 10px;
}

#logo-completa img {
    height: 80px;
}

#redes-sociais li a {
    text-decoration: none;
    text-align: center;
    color: white;
}

/* Media Queries para telas menores */
@media (max-width: 950px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 100%;
        padding: 0;
    }

    li {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 780px) {
    footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    #nav-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 100%;
    }

    #redes-sociais {
        display: block;
        width: 100%;
    }

    footer h3 {
        text-align: center;
    }

    #logo-completa img {
        margin-top: 30px;
    }

    #redes-sociais li {
        align-content: center;
        width: 100%;
    }

    #redes-sociais img {
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    #redes-sociais {
        display: block;
        width: 100%;
    }

    #nav-menu a {
        font-size: 15px;
    }

    .button {
        width: 100%;
        font-size: 14px;
        padding: 6px;
        margin: 2px;
    }

    li{
        width: 100%;
    }

    #redes-sociais li a {
        text-align: center;
    }
}

@media (max-width: 380px) {
    #nav-menu a {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
        padding: 4px;
        margin: 2px;
    }

    header img {
        height: 40px;
    }

    li {
        text-align: center;
        width: 100%;
    }
}
