:root {
    --primary-bg-color: #353535;
    --secondary-bg-color: #252525;
    --button-bg-color: #505050;
    --hover-color: #2d8ef1;
    --text-color: #ffffff;
    --input-bg-color: #454545;
    --input-border-color: #808080;
    --font-size-large: 20px;
    --font-size-medium: 15px;
    --font-size-small: 10px;
    --font-size-extra-small: 12px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.formInscricao {
    background-color: var(--secondary-bg-color);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

#titulo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.gear {
    width: 50px;
    transition: transform 0.5s ease;
}

@keyframes rotate-once {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate-once 2s ease forwards;
}

.formInscricao h1 {
    font-size: 30px;
    color: white;
    text-align: center;
}

.formInscricao p {
    font-size: var(--font-size-medium);
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.formInscricao label {
    font-size: var(--font-size-medium);
    color: white;
    margin-bottom: 5px;
}

.formInscricao input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: var(--font-size-extra-small);
    box-sizing: border-box;
}

.formInscricao input::placeholder {
    color: var(--input-border-color);
}

.formInscricao button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: background-color 300ms;
}

.formInscricao button:hover {
    background-color: var(--hover-color);
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    --input-focus: #2d8cf0;
    --input-out-of-focus: #ccc;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
}

.checkbox-container input {
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0;
}

.checkmark {
    width: 25px;
    min-width: 25px;
    height: 25px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--input-focus);
}

.checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmark:after {
    display: flex;
}

/* Responsividade */
@media (max-width: 480px) {
    .formInscricao {
        padding: 20px;
    }

    .formInscricao h1 {
        font-size: var(--font-size-medium);
    }

    #titulo img {
        width: 30px;
    }

    .formInscricao p {
        font-size: var(--font-size-small);
        text-align: left;
    }

    .formInscricao button {
        font-size: var(--font-size-small);
    }

}