.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.formLogin {
    background-color: var(--secondary-bg-color);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

#titulo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.gear {
    width: 50px;
    transition: transform 0.5s ease;
}

@keyframes rotate-once {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate-once 2s ease forwards;
}

.formLogin h1 {
    font-size: 30px;
    color: white;
    text-align: center;
}

.formLogin p {
    font-size: var(--font-size-medium);
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.formLogin label {
    font-size: var(--font-size-medium);
    color: white;
    display: block;
    margin-bottom: 5px;
}

.formLogin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: var(--font-size-extra-small);
    box-sizing: border-box;
}

.formLogin input::placeholder {
    color: var(--input-border-color);
}

.formLogin button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: background-color 300ms;
}

.formLogin button:hover {
    background-color: var(--hover-color);
}

/* Responsividade */
@media (max-width: 480px) {
    .formLogin {
        padding: 20px;
    }

    .formLogin h1 {
        font-size: var(--font-size-medium);
    }

    #titulo img {
        width: 30px;
    }

    .formLogin p {
        font-size: var(--font-size-small);
    }

    .formLogin button {
        font-size: var(--font-size-small);
    }
}