:root {
    --primary-bg-color: #353535;
    --secondary-bg-color: #252525;
    --button-bg-color: #505050;
    --hover-color: #2d8ef1;
    --text-color: #ffffff;
    --input-bg-color: #454545;
    --input-border-color: #808080;
    --font-size-large: 20px;
    --font-size-medium: 15px;
    --font-size-small: 10px;
    --font-size-extra-small: 12px;

    color-scheme: dark;
}

html, body {
    /* Força o fundo e a cor do texto */
    background-color: var(--primary-bg-color) !important;
    color: var(--text-color) !important;
    /* Desabilita qualquer ajuste automático de cor */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

html {
    -webkit-filter: none !important;
    filter: none !important;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.formLogin {
    background-color: var(--secondary-bg-color);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

#titulo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#titulo img {
    width: 50px;
    transition: transform 2s ease;
}

#titulo img:hover {
    transform: rotate(180deg);
}

.formLogin h1 {
    font-size: 30px;
    color: white;
    text-align: center;
}

.formLogin p {
    font-size: var(--font-size-medium);
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.formLogin label {
    font-size: var(--font-size-medium);
    color: white;
    display: block;
    margin-bottom: 5px;
}

.formLogin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: var(--font-size-medium);
    box-sizing: border-box;
}

.formLogin input::placeholder {
    color: var(--input-border-color);
}

.formLogin button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: background-color 300ms;
}

.formLogin button:hover {
    background-color: var(--hover-color);
}

/* Responsividade */
@media (max-width: 480px) {
    .formLogin {
        padding: 20px;
    }

    .formLogin h1 {
        font-size: var(--font-size-medium);
    }

    #titulo img {
        width: 30px;
    }

    .formLogin p {
        font-size: var(--font-size-small);
    }

    .formLogin button {
        font-size: var(--font-size-small);
    }
}