:root {
    --primary-bg-color: #353535;
    --secondary-bg-color: #252525;
    --button-bg-color: #505050;
    --hover-color: #2d2d2d;
    --text-color: #ffffff;
    --input-bg-color: #454545;
    --input-border-color: #808080;
    --font-size-large: 20px;
    --font-size-medium: 15px;
    --font-size-small: 10px;
    --font-size-extra-small: 12px;
}

.hero-section {
    background: linear-gradient(to right, #1c588f, #5195e8);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0 0 20px 20px;

    & h1 {
        font-size: 3rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    & p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

#barra_pesquisa form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    & input[type="text"] {
        width: 100%;
        max-width: none;
    }
}

#search-input {
    padding: 10px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: var(--font-size-medium);
    width: 60%;
    max-width: 500px;
    box-sizing: border-box;
}

#search-button, #reset-button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    font-family: barlow, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

#search-button:hover, #reset-button:hover {
    background-color: var(--hover-color);
}

#search-results {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: var(--font-size-medium);
}

.products-section {
    padding: 20px 50px;
    text-align: center;
}

.products-header {

    & h1 {
        font-size: 30px;
        color: var(--text-color);
    }
    & p {
        font-size: var(--font-size-medium);
        color: var(--text-color);
        margin-bottom: 40px;
    }
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product-card {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    transition: transform 0.3s ease, background-color 0.3s ease;

    & img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    & h2 {
        font-size: var(--font-size-large);
        color: var(--text-color);
        margin: 10px 0;
    }

    & button {
        background-color: var(--button-bg-color);
        color: var(--text-color);
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card button:hover {
    background-color: var(--hover-color);
}

/* Responsividade */

@media (max-width: 480px) {

    .products-section {
        padding: 20px;
    }

    #barra_pesquisa{

        & input {
            font-size: var(--font-size-small);
        }
        & a {
            font-size: var(--font-size-small);
        }
        & button {
            font-size: var(--font-size-small);
        }
    }
}

@media (max-width: 380px) {
    #barra_pesquisa form {

        & button {

        }

        & input, a, button {

        }
    }
}