.sobre-container {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.sobre-container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sobre-container p {
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.section {
    background-color: #222;
    padding: 20px;
    margin: 20px 0;
    border-radius: 30px;
}

.section h2 {
    font-size: 1.8rem;
}

.gears-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.gear {
    width: 30px;
    margin: 10px;
    transition: transform 0.5s ease;
}

.gear:hover {
    transform: rotate(360deg);
}

.gear.blue {
    color: #00bcd4;
}

.gear.red {
    color: #f44336;
}

.gear.yellow {
    color: #ffeb3b;
}

/* Animação de rotação */
.rotate {
    animation: spin 1.5s ease-in-out forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
