{% extends 'base.html' %}

{% block title %}
Agradecimento pela Compra
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agradecimento.css') }}">
{% endblock %}

{% block content %}
<section id="thank-you-container">
    <div class="thank-you-message">
        <h1>Parabéns, Criador!</h1>
        <p>Seu pedido foi finalizado com sucesso. Estamos trabalhando para transformar a sua ideia em realidade!</p>
        <div class="animation-container">
            <div class="animation-text">
                <p>Logo, seu produto estará pronto para envio!</p>
            </div>
        </div>
    </div>
</section>

<section id="next-steps-container">
    <div class="next-steps-box">
        <h2>O que vem a seguir?</h2>
        <p>Agora que você fez sua compra, que tal continuar criando e explorando o que a MacLabs tem a oferecer?</p>
        <div class="next-steps-actions">
            <a href="{{ url_for('produtos') }}" class="button2">Explorar Produtos</a>
            <a href="{{ url_for('index')}}" class="button2">Voltar à pagina inicial</a>
            <a href="{{ url_for('criar') }}" class="button2">Criar um Novo Item</a>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
