<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}">
    {% block css %}
    {% endblock css %}
    <title>{% block title %}MacLabs{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>

    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <header>
        <!-- Logo -->
        <div id="div-logo">
            <a href="{{ url_for('index') }}">
                <img id="img-logo" src="{{url_for('static', filename='img/logo1.svg')}}" alt="Logo MacLabs">
            </a>
        </div>
        <!-- Menu de navegação -->
        <nav id="nav-menu">
            <a href="{{ url_for('produtos') }}">Produtos</a>
            <a href="{{ url_for('criar') }}">SandBox</a>
            <a href="#contato">Contato</a>
            <a href="{{ url_for('sobre') }}">Sobre</a>
        </nav>
        <!-- Botões de login/inscrição -->
        <div id="nav-buttons">
            <a id="login" href="/login" class="button">Fazer login</a>
            <a id="inscricao" href="/inscricao" class="button">Inscrever-se</a>
        </div>
        <div id="nav-buttons-logado">
            <p id="usuario-logado"></p>
            <img id="img-login" onclick="login_menu()" src="{{ url_for('static', filename='img/perfil.png') }}">
        </div>
    </header>
    <main>
        <div id="login-menu">
            <p id="usuario-logado-menu"></p>
            <a class="cima" href="{{ url_for('carrinho') }}">Ver Carrinho</a>
            <a class="baixo" href="{{ url_for('chatbot') }}">Chatbot Maclabs</a>
            <button onclick="desconectar()" >Desconectar</button>
        </div>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div id="footer-principal">
            <!-- Logo -->
            <img id="logo-completa" src="{{url_for('static', filename='img/logocompleta.svg')}}" alt="Logo completa MacLabs">
            <!-- contato -->
            <div id="contato">
                <h3>Contato</h3>
                <ul>
                    <li><img src="{{url_for('static', filename='img/eng_email.svg')}}" alt="Envelope simbolizando Email">Maclabs@gmail.com</li>
                    <li><img src="{{url_for('static', filename='img/eng_telefone.svg')}}" alt="Telefone">(11) 99999-9999</li>
                </ul>
            </div>
            <!-- redes sociais -->
            <div id="redes-sociais">
                <h3>Redes Sociais</h3>
                <ul>
                    <li><img src="{{url_for('static', filename='img/facebook.svg')}}" alt="#redes-sociais">Facebook</li>
                    <li><img src="{{url_for('static', filename='img/instagram.svg')}}" alt="#redes-sociais">Instagram</li>
                    <li><img src="{{url_for('static', filename='img/linkedin.svg')}}" alt="#redes-sociais"><a href="https://www.linkedin.com/in/maclabsinc/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                </ul>
            </div>

            <div id="info">
                <h3>Informações</h3>
                <ul>
                    <li>CNPJ: 80.271.593/0001-60</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>
        <hr>
        <div id="footer-inferior">
            <!-- copyright -->
            <div id="copyright">
                <p> © 2024 MacLabs. Todos os direitos reservados.</p>
                <div id="desenvolvedores">
                    <p>Desenvolvido por: Leonardo Dell'Amatrice Silva</p>
                    <p>e Thomas Ricardo dos Santos Queiroz</p>
                </div>

            </div>
        </div>
    </footer>
</body>
<script>
    window.addEventListener('load', function() {
        document.body.classList.add('loaded');
    });

    const usuarioLocalStorage = window.localStorage.getItem("usuario");
    const div_usuario_logado = document.getElementById("nav-buttons-logado");
    const div_usuario_nao_logado = document.getElementById("nav-buttons");
    const call = document.getElementById("call-to-action");

    if (usuarioLocalStorage != null) {
        const usuario_logado = document.getElementById("usuario-logado");
        const usuario_logado_menu = document.getElementById("usuario-logado-menu");
        usuario_logado.textContent = usuarioLocalStorage
        usuario_logado_menu.textContent = "Usuario: " + usuarioLocalStorage;
        div_usuario_logado.style.display = "flex";
        div_usuario_nao_logado.style.display = "none";
        call.style.display = "none";
    } else {
        div_usuario_nao_logado.style.display = "flex";
        div_usuario_logado.style.display = "none";
        call.style.display = "block";
    }

    function login_menu(){
        const menu = document.getElementById('login-menu');
        menu.classList.toggle('open');
        this.classList.toggle('open');
    }

    function desconectar() {
        window.localStorage.removeItem("usuario");
        window.location.href = "/";
    }
</script>
{% block js %}
{% endblock %}
</html>
