<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}">
    {% block css %}
    {% endblock css %}
    <title>{% block title %}MacLabs{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="{{ url_for('index') }}">
            <img id="img-logo" src="{{url_for('static', filename='img/logo1.svg')}}" alt="Logo MacLabs">
        </a>
        <!-- Menu de navegação -->
        <nav id="nav-menu">
            <a href="{{ url_for('produtos') }}">Produtos</a>
            <a href="{{ url_for('criar') }}">Criar</a>
            <a href="#contato">Contato</a>
            <a href="{{ url_for('sobre') }}">Sobre</a>
        </nav>
        <!-- Botões de login/inscrição -->
        <div id="nav-buttons">
            <a href="/login" class="button">Fazer login</a>
            <a href="/inscricao" class="button">Inscrever-se</a>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Logo -->
        <div id="logo-completa">
            <img src="{{url_for('static', filename='img/logocompleta.svg')}}" alt="Logo completa MacLabs">
        </div>
        <!-- contato -->
        <div id="contato">
            <h3>Contato</h3>
            <ul>
                <li>Email: Maclabs@gmail.com</li>
                <li>Telefone: (11) 99999-9999</li>
            </ul>
        </div>
        <!-- redes sociais -->
        <div id="redes-sociais">
            <h3>Redes Sociais</h3>
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="{{url_for('static', filename='img/facebook.svg')}}" alt="#redes-sociais">Facebook</a></li>
                <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="{{url_for('static', filename='img/instagram.svg')}}" alt="#redes-sociais">Instagram</a></li>
                <li><a href="https://in.linkedin.com/" target="_blank" rel="noopener noreferrer"><img src="{{url_for('static', filename='img/linkedin.svg')}}" alt="#redes-sociais">LinkedIn</a></li>
            </ul>
        </div>
        <!-- copyright -->
        <div id="copyright">
            <p> © 2024 MacLabs. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
{% block js %}{% endblock %}
</html>
