{% extends 'base.html' %}

{% block title %}
MacLabs Inscrição
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrinho.css') }}">
{% endblock %}

{% block content %}
<section class="hero-section">
    <h1>Produtos</h1>
    <p>Descubra itens impressos em 3D com precisão e qualidade.</p>
</section>
<div id="carrinho-container">
    <h2>Carrinho</h2>
    <div id="aviso">
        <p>Você não possui itens no carrinho. Adicione produtos para finalizar a compra.</p>
    </div>
    <div id="carrinho-botoes">
        <a href="{{ url_for('produtos') }}" class="adicionar-produtos">Adicionar Produtos</a>
    </div>
</div>
<div id="recomendacoes-container">
    <h2>Recomendamos</h2>
    <div class="recomendacao-itens">
        {% for recomenda in recomendacoes %}
        <div class="recomendacao-item">
            <img src="{{ url_for('static', filename=recomenda.imagem) }}" alt="{{ recomenda.nome }}">
            <div class="item-info">
                <h3>{{ recomenda.nome }}</h3>
                <p>Preço: R$ {{ recomenda.preco }}</p>
            </div>
            <a href="/produtos/{{recomenda.nome}}" class="comprar">Ver mais</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
