{% extends 'base.html' %}

{% block title %}
Finalizar Compra
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compra.css') }}">
{% endblock %}

{% block content %}
<section id="checkout-container">
    <h2>Resumo do Carrinho</h2>
    <div id="checkout-list">

    </div>

    <div id="checkout-totals">
        <p id="subtotal" ></p>
        <p>Frete: $15.00</p>
        <p id="total" ><strong></strong></p>
    </div>

    <div class="checkout-actions">
        <button class="finalizar-compra">Finalizar Compra</button>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    let produtosLocalStorage = window.localStorage.getItem("produtos");

    let totalT = 0

    function criar_item() {


        if (produtosLocalStorage != null) {

            produtosLocalStorage = JSON.parse(produtosLocalStorage);

            for (let i = 0; i < produtosLocalStorage.length; i++) {
                let produto = produtosLocalStorage[i]

                totalT += produto.preco * produto.quantidade;

                const div_checkot = document.createElement('div')
                div_checkot.classList.add('checkout-item')

                const img = document.createElement("img");
                img.src = `static/${produto.imagem}`;
                div_checkot.appendChild(img);

                const div_info = document.createElement('div')
                div_checkot.classList.add('item-info')
                div_checkot.appendChild(div_info);

                const nome = document.createElement('h3')
                nome.textContent = produto.nome
                const quant = document.createElement('p')
                quant.textContent = `Quantidade: ${produto.quantidade}`
                const preco = document.createElement('p')
                preco.textContent = `Preço unitário R$: ${produto.preco}`
                const texttotal = document.createElement('p')
                texttotal.textContent = `Total: R$: ${Number((produto.preco) * (produto.quantidade)).toFixed(2)}`

                div_info.appendChild(nome)
                div_info.appendChild(quant)
                div_info.appendChild(preco)
                div_info.appendChild(texttotal)


                const list_checkout = document.getElementById('checkout-list')

                list_checkout.appendChild(div_checkot);

            }

        }
        document.getElementById('subtotal').textContent = `R$: ${Number(totalT).toFixed(2)}`
        document.getElementById('total').textContent = `R$: ${Number(totalT+15).toFixed(2)}`
    }

    criar_item()
</script>
{% endblock %}