{% extends 'base.html' %}

{% block title %}
Finalizar Compra
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compra.css') }}">
{% endblock %}

{% block content %}
<section id="checkout-container">
    <h2>Resumo do Carrinho</h2>
    <div id="checkout-list">

    </div>

    <div id="checkout-totals">
        <p id="subtotal" ></p>
        <p>Frete: $15.00</p>
        <p id="total" ><strong></strong></p>
    </div>

    <div class="checkout-actions">
        <button class="finalizar-compra">Finalizar Compra</button>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/compra.js') }}"></script>
{% endblock %}