{% extends 'base.html' %}

{% block title %}
MacLabs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<section class="hero-section">
    <h1>Bem-vindo à MacLabs</h1>
    <p>Explorando o futuro da impressão 3D com criatividade e inovação.</p>
</section>

<section class="features-section">
    <div class="feature-card">
        <a href="{{ url_for('produtos') }}">
            <div>
                <img src="{{ url_for('static', filename='img/icon-produtos.svg') }}" alt="Produtos">
                <h2>Nossos Produtos</h2>
                <p>Descubra itens impressos em 3D com alta precisão e qualidade. Confira nosso catálogo diversificado.</p>
                <button class="view-button">Ver Produtos</button>
            </div>
        </a>
    </div>
    <div class="feature-card">
        <a href="{{ url_for('criar') }}">
            <div>
                <img src="{{ url_for('static', filename='img/icon-sandbox.svg') }}" alt="Sandbox">
                <h2>Sandbox</h2>
                <p>Personalize seu próprio produto em nosso ambiente interativo. Crie e veja seu design ganhar vida.</p>
                <button class="view-button">Acesse o Sandbox</button>
            </div>
        </a>
    </div>
    <div class="feature-card">
        <a href="{{ url_for('sobre') }}">
            <div>
                <img src="{{ url_for('static', filename='img/icon-sobre.svg') }}" alt="Sobre">
                <h2>Sobre Nós</h2>
                <p>Saiba mais sobre a história e os valores que guiam a MacLabs na jornada pela inovação.</p>
                <button class="view-button">Nossa História</button>
            </div>
        </a>
    </div>
</section>

<section id="call-to-action">
    <h2>Junte-se à MacLabs</h2>
    <p>Criar, inovar e personalizar está ao seu alcance. Faça seu login ou inscrição para começar.</p>
    <div class="cta-buttons" >
        <a href="{{ url_for('login') }}" class="cta-button">Login</a>
        <a href="{{ url_for('inscricao') }}" class="cta-button">Inscrever-se</a>
    </div>
</section>

{% endblock %}
{% block js %}

{% endblock %}
