{% extends 'base.html' %}

{% block title %}
MacLabs Inscrição
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inscricao.css') }}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <form method="POST" class="formInscricao" id="inscricao-form">
            <div id="titulo">
                <img class="gear" src="{{ url_for('static', filename='img/eng_azul.svg') }}" alt="Engrenagem Azul">
                <h1>Inscrição</h1>
                <img class="gear" src="{{ url_for('static', filename='img/eng_vermelha.svg') }}" alt="Engrenagem Vermelha">
            </div>
            <p>Digite os seus dados para cadastro no campo abaixo.</p>
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" required/><br>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required/><br>
            <label class="checkbox-container">
                <input type="checkbox" required>
                <div class="checkmark"></div>
                <p>Obs: Após desconectar, seu cadastro será perdido.</p>
            </label>
            <!--
            <label for ="file">Selecione uma imagem de perfil</label>
            <input type="file" id="file" name="file" accept=".png">
            -->
            <button type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}

{% block js %}
<script>
    window.addEventListener('load', function() {
        document.body.classList.add('loaded');
    });

    document.getElementById('inscricao-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const usuario = document.getElementById('usuario').value;
        window.localStorage.setItem('usuario', usuario);
        window.location.href = "/"
    });

</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}