{% extends 'base.html' %}

{% block title %}
MacLabs Produtos
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtos.css') }}">
{% endblock %}

{% block content %}
<section class="hero-section">
    <h1>Produtos</h1>
    <p>Descubra itens impressos em 3D com precisão e qualidade.</p>
</section>
<div id="barra_pesquisa">
    <form action="{{ url_for('produtos_filtrados') }}" method="GET">
        <div class="search-box">
            <input type="text" id="search-input" autocomplete="off" name="filtro-nome" placeholder="Pesquisar por nome...">
            <button id="search-button" type="submit">Buscar</button>
            <a href="{{ url_for('produtos')}}" type="button" id="reset-button">Redefinir</a>
        </div>

        <div class="filter-tags">
            <span>Filtros:</span>
            <label><input type="checkbox" name="tag" value="decoracao"> Decoração</label>
            <label><input type="checkbox" name="tag" value="armazenamento"> Armazenamento</label>
            <label><input type="checkbox" name="tag" value="organizacao"> Organizacao</label>
            <label><input type="checkbox" name="tag" value="brinquedos"> Brinquedos</label>
            <label><input type="checkbox" name="tag" value="ferramentas"> Ferramentas</label>
            <label><input type="checkbox" name="tag" value="escritorio"> Escritório</label>
            <label><input type="checkbox" name="tag" value="jardim"> Jardim</label>
            <!-- Adicione mais tags conforme necessário -->
        </div>
    </form>
</div>
<section class="products-section">
    <div class="products-container">
        {% if mensagem %}
        <h4>{{ mensagem }}</h4>
        {% endif %}
        {% for produto in produtos %}
            <div class="product-card">
                <a href="produtos/{{produto.nome}}">
                    <img id="img-produto" src="{{ url_for('static', filename=produto.imagem) }}" alt="{{ produto.nome }}">
                    <h2>{{ produto.nome }}</h2>
                    <h3>R${{  produto.preco  }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}