{% extends 'base.html' %}

{% block title %}
{{ produto.nome }} - MacLabs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produto.css') }}">
{% endblock %}

{% block content %}
<section class="hero-section">
    <h1>{{ produto.nome }}</h1>
    <p>{{ produto.descricao }}</p>
</section>

<div class="produto-detalhes-container">
    <div class="produto-imagem">
        <img src="{{ url_for('static', filename=produto.imagem) }}" alt="{{ produto.nome }}">
    </div>
    <div class="produto-info">
        <h2>{{ produto.nome }}</h2>
        <p>Preço: ${{ produto.preco }}</p>
        <p>{{ produto.descricao_completa }}</p>
        <ul class="especificacoes">
            {% if produto.peso %}
            <li>Peso: {{ produto.peso }}</li>
            {% endif %}

            {% if produto.material %}
            <li>Material: {{ produto.material }}</li>
            {% endif %}

            {% if produto.densidade %}
            <li>Densidade: {{ produto.densidade }}</li>
            {% endif %}

            {% if produto.dimensoes %}
            <li>Dimensões: {{ produto.dimensoes }}</li>
            {% endif %}

            {% if produto.tags %}
            <li>Tags: {{ produto.tags | join(', ') }}.</li>
            {% endif %}
        </ul>
        <div class="produto-actions">
            <form>
                <input type="hidden" name="produto" value="{{ produto.nome }}">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" value="1" min="1">
                <button type="button" onclick="adicionar_carrinho()">Adicionar ao Carrinho</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    function adicionar_carrinho() {
        const produto = {{ produto|tojson }}
        let produtosLocalStorage = window.localStorage.getItem("produtos");
        const produtos = [];

        if (produtosLocalStorage != null) {
            produtosLocalStorage = JSON.parse(produtosLocalStorage)

            let produtoEncontrado = false;

            for (let i = 0; i < produtosLocalStorage.length; i++) {
                if (produtosLocalStorage[i].nome === produto.nome) {
                    produtosLocalStorage[i]['quantidade'] += Number(document.getElementById('quantidade').value);
                    window.localStorage.setItem("produtos", JSON.stringify(produtosLocalStorage))
                    produtoEncontrado = true;
                    return;
                }
            }

            if (!produtoEncontrado) {
                produto['quantidade'] = Number(document.getElementById('quantidade').value)
                produtosLocalStorage.push(produto);
                window.localStorage.setItem("produtos", JSON.stringify(produtosLocalStorage))
            }

        } else {
            produto['quantidade'] = Number(document.getElementById('quantidade').value)
            produtos.push(produto);
            window.localStorage.setItem("produtos", JSON.stringify(produtos))
        }
    }
</script>
{% endblock %}
