{% extends 'base.html' %}

{% block title %}
Sobre a MacLabs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
{% endblock %}

{% block content %}
<div class="sobre-container">
    <div id="titulo">
        <div class="gears-container">
            <img class="gear blue" src="{{ url_for('static', filename='img/eng_azul.svg') }}" alt="Engrenagem Azul">
            <h1>Sobre a MacLabs</h1>
            <img class="gear red" src="{{ url_for('static', filename='img/eng_vermelha.svg') }}" alt="Engrenagem Vermelha">
        </div>
    </div>
    <p>A MacLabs é uma empresa jovem, fundada com a visão de explorar o potencial da impressão 3D para criar produtos personalizados que atendam à imaginação de nossos clientes. Nossa missão é incentivar a criatividade e oferecer produtos exclusivos, feitos sob medida para você.</p>

    <div class="section">
        <div class="gears-container">
            <img class="gear yellow" src="{{ url_for('static', filename='img/eng_amarela.svg') }}" alt="Engrenagem Amarela">
            <h2>Missão, Visão e Valores</h2>
            <img class="gear blue" src="{{ url_for('static', filename='img/eng_azul.svg') }}" alt="Engrenagem Azul">
        </div>
        <p><strong>Missão:</strong> Incentivar nossos clientes a serem criativos e inovadores, criando produtos personalizados que realizam seus sonhos.</p>
        <p><strong>Visão:</strong> Ser uma empresa que dá a possibilidade de seus clientes mudarem o mundo.</p>
        <p><strong>Valores:</strong> Criatividade, inovação, ética, sustentabilidade, qualidade e disciplina.</p>
    </div>

    <div class="section">
        <div class="gears-container">
            <img class="gear red" src="{{ url_for('static', filename='img/eng_vermelha.svg') }}" alt="Engrenagem Vermelha">
            <h2>Histórico</h2>
            <img class="gear yellow" src="{{ url_for('static', filename='img/eng_amarela.svg') }}" alt="Engrenagem Amarela">
        </div>
        <p>A MacLabs surgiu com o desejo de usar a impressão 3D para transformar ideias em realidade. Com a ferramenta "Sandbox" que oferecemos em nosso site, os clientes têm total controle para projetar e criar produtos do zero.</p>
    </div>

    <div class="section">
        <div class="gears-container">
            <img class="gear blue" src="{{ url_for('static', filename='img/eng_azul.svg') }}" alt="Engrenagem Azul">
            <h2>Diferencial Competitivo</h2>
            <img class="gear red" src="{{ url_for('static', filename='img/eng_vermelha.svg') }}" alt="Engrenagem Vermelha">
        </div>
        <p>Nosso diferencial é a capacidade de personalização total. Na MacLabs, a imaginação dos clientes é o limite. Oferecemos produtos personalizados e a possibilidade de criar produtos únicos diretamente no site.</p>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
